:root {
  --primary-color: teal;
  --secondary-color: steelblue;
  --neutral-color: cornsilk;
  --dark-color: #333;
  --light-color: #fff;
  --font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background: var(--neutral-color);
  color: var(--light-color);
  margin: 10px;
}

h1 {
  color: var(--dark-color);
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.item {
  background: var(--primary-color);
  min-height: 200px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  filter: brightness(0.5);
  transition: all 0.25s ease;
}

.item span {
  filter: blur(10px);
  transition: filter 0.4s ease-out 0.1s;
}

.item:hover {
  filter: drop-shadow(5px 5px 5px var(--dark-color));
  background-color: var(--light-color);
  color: var(--dark-color);
}

.item span:hover {
  filter: blur(0px);
}
