* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.item {
  border: 1px solid white;
}

.Stitle {
  background-color: yellow;
  grid-column: 1 / span 3;
}

.nav {
  background-color: pink;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column: 1 / span 6;
  grid-row: 2 / span 6;
}

.Ptitle {
  background-color: gray;
  grid-column: 1 / span 4;
}

.sidebar {
  background-color: orange;
  grid-column: 5 / span 1;
  grid-row: 1 / span 2;
}

.meta {
  background-color: lightgreen;
  grid-column: 1;
  grid-row: 2 / span 5;
}

.content {
  background-color: lightgray;
  grid-column: 2 / span 3;
  grid-row: 2 / span 2;
}

.image {
  background-color: yellow;
  grid-column: 2 / span 3;
  grid-row: 4 / span 3;
}

.ads {
  background-color: green;
  grid-row: 3 / span 2;
}

.stuff {
  background-color: violet;
  grid-row: 5 / span 2;
}

.footer {
  background-color: darkred;
  grid-column: 1 / span 6;
}